img {
    height: 300px;
}

body {
    text-align: center;
    background-color: #a1caffa1;
    overflow-x: hidden;
}

p, h1, h2, h3, h4 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
    color: #ff912a;
    font-weight: 900;
}

h1 {
    font-size: 120px;
    text-decoration: underline #ffffff;
}

h2 {
    font-size: 90px;
}

h3 {
    font-size: 60px;
}

h4 {
    font-size: 40px;
    color: #800020;
}

p {
    color: #fa7a25;
    font-size: 20px;
}

a {
    color: #3C2FFF;
    text-decoration: none;
}

a:visited {
    color: #3C2FFF;
    text-decoration: none;
}

a:hover {
    color: #816efac0;
}

code {
    font-size: 20px;
}