:root {
    background-color: #fce6ff;
}

body {
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.toplinks {
    position: fixed;
    background-color: #a1caffa1;
    width: 100%;
    height: 30px;
    padding-top: 0.5%;
    text-align: center;
}

a {
    color: #3C2FFF;
    text-decoration: none;
    padding-right: 20px;
}

a:visited {
    color: #3C2FFF;
    text-decoration: none;
    padding-right: 20px;
}

a:hover {
    color: #816efac0;
}

.krabbLogo {
    float: left;
    padding-right: 40px;
}

.home {
    position: absolute;
    background-color: #ffffff;
    padding-left: 20%;
    padding-top: 50px;
    margin-left: -250px;
    margin-top: 39px;
    width: 60%;
}

.main {
    margin-left: 25%;
}

.ttm {
    margin-left: 150px;
}

pre {
    text-align: left;
    width: 600px;
}